<!-- Content Heading -->
 <% if (title) { %>
<h1 class="login-title"><%= title %></h1>
<% } else { %>
  <h1>Something went wrong.</h1>
<% } %>

<!-- Message Block (when needed) -->
<% messages() %>

<!-- Login form -->
  <form action="/account/login" method="post">
    <label for="email">Email:</label>
    <input type="email" name="account_email" id="email" required>

    <label for="password">Password:</label>
    <input type="password" name="account_password" id="password" required>

    <button type="submit">Login</button>
  </form>

  <!-- Link to registration -->
  <p class="noaccount">Don't have an account? <a href="/account/registration">Sign-up here</a></p>