<!-- Content Heading -->
 <% if (title) { %>
<h1 class="login-title"><%= title %></h1>
<% } else { %>
  <h1>Something went wrong.</h1>
<% } %>

<!-- Message Block (when needed) -->
<!-- <% messages('notice') %> -->

<p>You're logged in!</p>